.charsheet input {
	display: inline-block;
}
.charsheet input.sheet-short {
   display: inline-block;
   width: 3.5em;
}
.charsheet input.sheet-medium{
   display: inline-block;
   width: 6.5em;
}
.chartsheet input.sheet-long{
	display: inline-block;
	width: 7.5em;
}
.charsheet table{
	border-collapse: collapse;
	border: 1px solid black;
	text-align:center;
}
.charsheet td{
	border: none;
	font-weight: bold;
}
